<!DOCTYPE HTML>
<html>
<head>
    <title>Projection by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body class="subpage">
    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
        </div>
    </header>
    <section id="three" class="wrapper">
        <div class="inner">
                <h2>Meal Plan</h2>
                        {% block content %}
            {% for meal_combo in list_of_content%}
                        
            <div class="12u" ><p style="color:black !important">{{meal_combo}}:</p></div>
                       
            {% endfor %}
            {% endblock %}
        </div>
    </section>
</body>
</html>

