<!DOCTYPE HTML>
<html>
<head>
    <title>Projection by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type = 'text/css'/>
</head>
<body class="subpage">
        <!-- Header -->
            <header id="header">
                <div class="inner">
                    <a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
                </div>
            </header>
    <section id="three" class="wrapper">
        <div class="inner">
            <header class="align-center">
                <h2>Sign Up</h2>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="6u center">
                                <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                            </div>
                            <div class="6u center">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                             <div class="6u center">
                                <input class="form-control" placeholder="Confirm Password" name="password" type="password" value="">
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button href="index.html" class="button special">Sign Up</button>
                            <p>Already have an account? <a href="login.html">Login</a></p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </header>

    </div>
</section>
</body>
</html>